.topImage{
    background-image:linear-gradient(rgba(220, 214, 214, 0.5), rgba(246, 244, 244, 0.8)),
    url('../images/rivers.jpg');
    height: 50vh;
    background-size: cover;
}

.semi-rounded-border{
    border-radius: 10px !important;
}
.rounded-input{
    border-radius: 35px !important;
}
.blog-description{
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    text-align: left !important;

}
.parent-img{
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: absolute;
    top: 44%;
    left: 45%;
    width: 10% !important;
    height: 15%;
}
.bg-footer {
    background-image: url(../images/footer/bg_old.png);
    height: 50vh;
    background-size: cover;
    border: 0 !important;
}
.bg-footer img{
    width: 100px;
    height: auto;
}
.social-media i:hover{
    color: #fff !important;
    background: #198754;
}

.footer {
    background-image: url(../images/footer/bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 70px 0;
}


